    <div class="modular-row callout modular-blog-list">
    <div class="max-width">
        <h2 class="title">آخرین اخبار</h2>
        <div class="subtitle"><p>تجارت الکترونیک, مجنتو, تکنولوژی  روز , نکات برنامه نویسی</p></div>
        <div class="blog-container">
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-1">
                        <div class="post-category"><span class="post-label">مجنتو</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">مرداد ۱۳۹۹ </span><span class="time" style="direction: rtl"> 5 دقیقه</span>
                    </div>
                    <h3 class="post-title"><a href="blog/post/magento.html" >ویژگیهای مجنتو 2.5 که شما را متحیر خواهد کرد</a></h3>

                    <div class="post-summary">
                        <p>موارد بسیار جدیدی در این نسخه به مجنتو اضافه شده است که میتوان صفحه ساز در پنل مدیریت را مهمترین آنها بر شمرد</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-2">
                        <div class="post-category"><span class="post-label">اخبار</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">خرداد ۱۳۹۹ </span><span class="time" style="direction: rtl"> 5 دقیقه</span>
                    </div>
                    <h3 class="post-title"><a href="blog/post/news.html" >اکنون زمان سرمایه گذاری در برای وب سایت مجنتو شماست؟</a></h3>

                    <div class="post-summary">
                        <p> برنامه های کاربردی وب  چیز مهمی در تجارت الکترونیک است. این مبحث از صحبت های اولیه پیرامون Magento 2 و معرفی مفهوم headless در لب همه قرار گرفته است .
                            PWAمانند
                        </p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-3">
                        <div class="post-category"><span class="post-label">پر کاربرد</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">مرداد ۱۳۹۹ </span><span class="time" style="direction: rtl"> 5 دقیقه</span>
                    </div>
                    <h3 class="post-title"><a href="blog/post/useful.html" > تصاویر  خود را تنبل  بارگیری کنید</a></h3>

                    <div class="post-summary">
                        <p>بارگذاری تنبل یک روش مؤثر برای بهبود عملکرد شما است. و این به ویژه در وب سایت های تجارت الکترونیک مهم است.
                        </p>
                    </div>
                </div>
            </div>                        
        </div>

        <div class="button-container">
            <a href="blog.html" class="button action large">خواندن وبلاگ</a>
        </div>
    </div>
</div>