<div class="modular-row callout home-extensions">
    <div class="max-width">
        <h2 class="title">Magento 2 Extensions</h2>

        <div class="extensions">
            <div class="extension">
                <div id="magento_extensions_list" class="extension-wrapper">
                    <a href="/module-magento-sms.html">
                        <div class="image">
                            <img title="Google Tag Manager" alt="Google Tag Manager" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSW8q6-z6CaEVJNnHX4oKqulYPWzlKLsRGhfw&usqp=CAU">
                        </div>

                        <h3 class="extension-title">
                            Google Tag Manager
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="ext-price" style="">$49.99</div>
                    </div>
                </div>
            </div>
            <div class="extension">
                <div id="magento_extensions_list" class="extension-wrapper">
                    <a href="/reza.html">
                        <div class="image">
                            <img title="Converge Elavon" alt="Converge Elavon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTB6iSef0Tx7hv-qKJcyLTXMOEPnetZo2a9DA&usqp=CAU">
                        </div>

                        <h3 class="extension-title">
                            Converge Elavon
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="module-reviews-summary">
                            <div class="rating-summary">
                                <div class="rating-result rating-small" title="100%">
                                    <span style="width:100%"><span><span>5</span> of <span>5</span></span></span>
                                </div>
                                <a href="" class="rating-count">(7)</a>
                            </div>
                        </div>
                        <div class="ext-price" style="">$449</div>
                    </div>
                </div>
            </div>
            <div class="extension">
                <div id="magento_extensions_list" class="extension-wrapper">
                    <a href="/magento2-extensions/realex-payments">
                        <div class="image">
                            <img title="Realex Payments" alt="Realex Payments" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtEYXXHLFX9SgwbmIgqPitpcpjnt10dOqLYg&usqp=CAU">
                        </div>

                        <h3 class="extension-title">
                            Realex Payments
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="module-reviews-summary">
                            <div class="rating-summary">
                                <div class="rating-result rating-small" title="100%">
                                    <span style="width:100%"><span><span>5</span> of <span>5</span></span></span>
                                </div>
                                <a href="" class="rating-count">(3)</a>
                            </div>
                        </div>
                        <div class="ext-price" style="">$499</div>
                    </div>
                </div>
            </div>
            <div class="extension">
                <div id="magento_extensions_list" class="extension-wrapper">
                    <a href="/magento2-extensions/realex-payments">
                        <div class="image">
                            <img title="Realex Payments" alt="Realex Payments" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhu81ur7mZvZ7sepivlXn-v3jnEEtf6SgUUA&usqp=CAU">
                        </div>

                        <h3 class="extension-title">
                            Realex Payments
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="module-reviews-summary">
                            <div class="rating-summary">
                                <div class="rating-result rating-small" title="100%">
                                    <span style="width:100%"><span><span>5</span> of <span>5</span></span></span>
                                </div>
                                <a href="" class="rating-count">(3)</a>
                            </div>
                        </div>
                        <div class="ext-price" style="">$499</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="magento2-extensions.html" class="button action large">All Magento 2 Extensions</a>
        </div>
    </div>
</div>