<div class="modular-row callout modular-blog-list">
    <div class="max-width">
        <h2 class="title">وبلاگ تجارت الکترونیکی</h2>
        <div class="subtitle"><p>افکار ، ایده ها و به روز رسانی ها در مورد توسعه Magento 2 ، تجارت الکترونیک و تجارت</p></div>
        <div class="blog-container">
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-1">
                        <div class="post-category"><span class="post-label">جدید ها</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">Nov 15, 2018</span><span class="time"> · 5 mins</span>
                    </div>
                    <h3 class="post-title"><a href="reza.html"> Magento 2.3 نسخه: 13 ویژگی که شما را متحیر خواهد کرد</a></h3>

                    <div class="post-summary">
                        <p>در کنفرانس Magento Imagine در آوریل 2018 ، Magento نسخه قابل توجهی بعدی را در پلت فرم Magento - Magento 2.3 اعلام کرد. دارای ویژگی های فوق العاده ای ، بهینه سازی ها و پیشرفت های back-end است. قرار است در پایان سال منتشر شود.</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-2">
                        <div class="post-category"><span class="post-label">مبلغ پرداختی</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">Oct 25, 2018</span><span class="time"> · 8 mins</span>
                    </div>
                    <h3 class="post-title"><a href="blog.html">چگونه می توان بهترین روش پرداخت را برای فروشگاه تجارت الکترونیکی خود انتخاب کرد</a></h3>

                    <div class="post-summary">
                        <p>اشتباه در مورد روش پرداخت برای استفاده در فروشگاه تجارت الکترونیکی خود؟ تو تنها نیستی. تعداد بیشماری از روش های پرداخت به صورت آنلاین وجود دارد که شناختن بهترین روش برای فروشگاه تجارت الکترونیکی شما را دشوار می کند. شما باید بهترین روش پرداخت را انتخاب کنید زیرا در صورت افزایش اقتصادی می تواند برای تجارت شما بسیار ریسک باشد ...</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-3">
                        <div class="post-category"><span class="post-label">Magento</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">Oct 25, 2018</span><span class="time"> · 8 mins</span>
                    </div>
                    <h3 class="post-title"><a href="blog.html">چگونه می توان بهترین روش پرداخت را برای فروشگاه تجارت الکترونیکی خود انتخاب کرد</a></h3>

                    <div class="post-summary">
                        <p>در مورد روش پرداخت برای استفاده در فروشگاه تجارت الکترونیکی شما سردرگم هستید؟ تو تنها نیستی. تعداد بیشماری از روش های پرداخت به صورت آنلاین وجود دارد که شناختن بهترین روش برای فروشگاه تجارت الکترونیکی شما را دشوار می کند. شما باید بهترین روش پرداخت را انتخاب کنید زیرا در صورت افزایش اقتصادی می تواند برای تجارت شما بسیار ریسک باشد..</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="blog.html" class="button action large">خواندن وبلاگ</a>
        </div>
    </div>
</div>